body {
    background-color: rgb(243, 243, 243);
    font-family:"Trebuchet MS", sans-serif;
    color: rgb(22, 22, 22);
}

.title {
    text-align: center;
    background-color: rgb(165, 165, 165);
    font-size: 50px;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipes {
    background-color: rgb(165, 165, 165);
    width: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}